$Darkness: #99a799;
$components: #adc2a9;
$light: #d3e4cd;
$White: #fef5ed;
$SideNav-width: 18%;
$Spacebtw: 1%;
*,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
body {
  .container {
    height: 100vh;
    width: 100vw;
  }
  .drag {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
  }
  .center {
    font-size: 20px;
    i {
      font-size: 30px;
    }
  }
  .control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $Darkness;
    border-radius: 20px 20px 0px 0px;
    width: 400px;
    padding: 5px 15px;
    padding-top: 8px;
    font-size: 20px;
    i {
      font-size: 30px;
    }
    div {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .view {
    background-color: $Darkness;
    width: 400px;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 20px;
    margin-top: 3px;
    .overview {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      .time {
        flex: 8;
        text-align: center;
        font-size: 50px;
        letter-spacing: 15px;
        &.hide {
          display: none;
        }
      }
      .setting {
        font-size: 40px;
        flex: 8;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &.hide {
          display: none;
        }
        i {
          font-size: 12px;
          border: 1.5px solid $light;
          border-radius: 5px;
          padding: 0px 8px;
          margin: 3px 0px;
          cursor: pointer;

          &:hover {
            background-color: $components;
          }
        }
        input {
          background-color: $components;
          width: 20px;
          border: 0px transparent;
          border-radius: 3px;
          height: 25px;
          width: 25px;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .start {
        flex: 1;
        padding: 6px 25px;
        width: 40px;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .reset {
        flex: 0.5;
        padding: 0px 10px;
        cursor: pointer;
      }
      .btn {
        border: 1.5px solid $light;
        border-radius: 20px;
        padding: 6px 25px;
        &:hover {
          background-color: $components;
        }
      }
    }
    .section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0px 5px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 30px;

      div {
        text-align: center;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        &:hover {
          border-bottom: 3px solid $components;
        }
        &.actived {
          border-bottom: 3px solid $components;

          background-color: $light;
          border-radius: 10px;
          padding: 5px 10px;
        }
      }
      .pomodore {
      }
      .shortBreak {
      }
      .longBreak {
      }
    }
  }
}
